* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: grid;
  font-family: monospace;

}
.header {
  background-color: white;
  padding: 10px 20px;
}
.header-dark {
  background-color: #333;
  padding: 10px 20px;
}

.logle{
  display: flex;
  gap: 20px;
}

.navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #000000;
}
.navbar-dark  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo-dark {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  padding: 10px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #808080;
}
.nav-links-dark li a {
  text-decoration: none;
  font-size: 18px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: grey;
  margin: 5px;
}

.burger-dark div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    top: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0s ease-in;
  }

  .nav-links.open {
    height: 100vh;
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    margin: 30px 0;
  }

  .burger {
    display: block;
  }

  .burger-dark {
    display: block;
  }
  
  .close {
    margin: 30px;
    font-size: large;
    display: block;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top: 8px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(25px); /* Pastikan nilai ini sesuai dengan ukuran switch */
}

.bg-portofolio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: white;
  color: #000000;
  padding: 10px;
  height: auto;
}

.bg-portofolio-dark {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #434343;
  color: #ffffff;
  padding: 10px;
  height: auto;
}

.profile {
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}
.profile-dark {
  
  gap: 10px;
  width: 100%;
  height: max-content;
  background-color: #333;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}

.aboutme {
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}
.aboutme-dark {
  width: 100%;
  height: max-content;
  background-color: #333;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}

section {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.experience {
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}
.experience-dark {
  width: 100%;
  height: max-content;
  background-color: #333;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}

.skill {
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}
.skill-dark {
  width: 100%;
  height: max-content;
  background-color: #333;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}